@charset "utf-8";
.post {
  &s {
    &-list {
      &.card {
        background: white;
        border-radius: 5px;
        & .thumb {
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          width: 100%;
        }
        & .title {
          font-size: 28px;
          color: rgb(255, 206, 56);
          line-height: 3em;
          padding: 0 20px;
        }
        & .description {
          color: #333;
          padding: 0 20px;
        }
      }
    }
  }
}

