main{
    background-color:#f8f5f6; 
    padding-top:42px;
    .tit{
        font-size:30px;
        font-weight:800;
        margin-bottom: 70px;
        letter-spacing: 1px;
    }
    .content{
        width: 1400px;margin:0 auto;padding-top:20px;position: relative;z-index: 2;
               
        >p{
            text-align:center;
            span{
                background: -webkit-linear-gradient(left top, #3478c2 20%,#843a9d , #5b0877);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                -moz-text-fill-color: transparent;
                -moz-background-clip: text;
                -o-text-fill-color: transparent;
                -o-background-clip: text;
                display: inline-block;
                // margin-bottom: 20px;
            }
        }
        .content_ul{
            display: flex;
            flex-direction:row;
            padding-bottom:99px;
            li{
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                background-size:cover;
                // height:298px;
                color:#fff;
                font-size:28px;
                text-align:center;
                position:relative;
                overflow: hidden;
                
                img{
                    width: 100%;
                    transition:all 1s;
                -webkit-transition:all 1s;
                display: block;
                }
                p{
                    font-weight:200;
                    position: absolute;
                    top: 40%;
                    text-align: center;
                    right: 0;
                    left: 0;
                }
                &:hover img{
                    transform: scale(1.2)
                    
                }
            }
            
            li:nth-of-type(2){
                margin:0 57px;
            }
        }
    }
    
}
ul{margin-left:0;padding:0;}
.details_big{background: #fff;width:100%;padding-top:35px;padding-bottom:70px;}
.details{
        width:1400px;
        margin:0 auto;
        
        .biaoqian{
            margin-bottom:28px;
            span{
                margin-right:5px;
            }
        }
    ul{
        // display: flex;
        // flex-direction:row;
        // justify-content:flex-start;
        // align-items:center;
        // -webkit-box-flex: 1;
        //         -ms-flex-positive: 1;
        //         flex-grow: 1;
        li{
        //     display: flex;
        // flex-direction:row;
        // justify-content:flex-start;
        // align-items:center;
        margin-bottom:30px;
            >img{
                vertical-align: top;
                display: inline-block;
                float: left;
            }
            >div{
                float: left;
                width: 675px;
                display: inline-block;
                padding:19px 20px 10px 36px;
                box-sizing:border-box;
                border:1px solid #e7e1e0;
                text-align:left;
                font-family: MicrosoftYaHei;
                >p{
                    font-size:22px;
                    margin-bottom:15px;
                    span{
                        font-size:16px;
                        float: right;
                        font-size: 14px;
                        &:before{
                            content:'';
                            background:url(../img/didian.png)bottom center no-repeat;
                            width: 16px;
                            height:16px;
                            display: inline-block;
                            margin-right: 10px;
                        }
                    }
                    
                   
                }
                >div:nth-of-type(1){

                }
                .mianji{
                    p{
                        color:#747474;
                        display: inline-block;
                        margin-right: 45px;
                    }
                    p span{
                        color:#f15d53;
                        font-weight:800;
                        font-size:30px;
                    }
                    button{
                        color:#fff;
                        width: 237px;
                        height:46px;
                        font-size: 28px;
                        font-weight:400;
                        outline: none;
                        border-radius: 5px;
                        // padding: 16px 32px;
                        text-decoration: none;
                        margin:26px 0 30px;
                        border: none;
                        cursor: pointer;
                        position: relative;
                        display: block;
                        background-color: #f1c40f;
                        z-index: 1;
                        box-shadow: 0px 5px 0px 0px #D8AB00;
                        font-family: MicrosoftYaHei;
                        &:active {
                            transform: translate(0px, 5px);
                            -webkit-transform: translate(0px, 5px);
                            box-shadow: 0px 1px 0px 0px;
                        }
                        &:hover{
                            &::before{
                            width: 100%;   
                            }
                        }
                        &::before{
                            position: absolute;
                            left:0;
                            width:0;
                            content:"";
                            height:100%;
                            display:block;
                            background:#D8AB00;
                            opacity: .4;
                            transition:all .3s;
                            top:0;
                            z-index: -1;
                        }
                        
                    }
                }
                .weizhi{
                    border-top:1px solid #ccc;
                    
                    width:600px;
                    margin-top: 20px;
                    padding-top: 20px;
                    color:#747474;
                    span{
                        font-weight: 400;
                        display: inline-block;
                    }
                    span:nth-of-type(1){
                        width: 230px;
                        
                    }
                    span:nth-of-type(2){
                        width: 300px;
                        margin-bottom:10px;
                    }
                    span:nth-of-type(3){
                        margin-bottom:10px;
                    }
                    span:nth-of-type(4){
                        float: left;
                    }
                    span b{
                        font-weight:800;
                        color:#000;
                    }
                }
            }
        }
    }
}
/*设置header高度*/
#headerModule /deep/ header{
    height:766px;
}
.header_text{
	margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 785px;
    right: 0;
    height: 145px;
}
.header_text img{
	display:block;
}
.header_text img:nth-of-type(2){
	-webkit-animation-delay:1s;
}
.header_footer{
	width: 1400px;
	margin:0 auto; 
}
.header_footer ul li img{
	vertical-align: middle;
}
.header_footer ul{
	display: flex;
	-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 15px 0;
}
.header_footer ul li{
	flex:1;
	text-align:center;
}

