.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1}
p{margin:0;padding:0;line-height: 1.15;}
ul,dt,ol{margin:0;padding:0;}
ul li,dt dd,ol li{list-style: none;margin:0;padding:0;}
a{text-decoration:none;}


/*页头*/
body{
	min-width: 1250px;
	margin:0 auto;
	padding:0;
	box-sizing:border-box;
	font-family:微软雅黑;
}
header{
	width: 100%;
	height:394px;
	padding:34px 0 0 41px;
	background-position:center !important;
	box-sizing:border-box;
	background-size: cover !important;
}


.daojishi{	font-weight: 800;margin-top: 16px;font-size: 32px;}
.nav_left{
	float:left;
}
.nav_left{
	vertical-align:top;
}
.tab{
	vertical-align:top;
	margin:28px 0 0 25px;
	
}
.yw{
	margin:127px 91px 0 39px;
	float:left;

}
.nav_right{float:right;margin-right:33px;margin-top:65px;}
.nav_right_icon img{
	margin-right:25px;
}
.nav_right_icon{padding-top: 25px;margin-bottom: 41px;}
.nav_right_yuan{
	width: 152px;
	height:160px;
	/* background:url("../img/daojishi.png")center no-repeat; */
	text-align:center;
	color:#d41253;
	padding-top:30px;
	box-sizing:border-box;
	position:relative;
	margin:0 auto;
}
.daoji_content{
	font-size:12px;
	color:#fff;
	text-align:center;
	margin-bottom:76px;

}
.dingwei{    position: relative;
    z-index: 5;}
.miao{color:#ccc;
	font-weight: 0;font-size: 16px;}
.miaoshu{color:#ffce38;}

.loading{    position: absolute;
    top: 0;
    width: 152px;
    overflow: hidden;
    border-radius: 100px;}
.quan{
	/* background:url("../../img/daojishi.png")center no-repeat;     */
	width: 152px;
    height: 151px;
    position: relative;
    z-index: 2;}
.show{
	width: 190px;
    height: 187px;
    position: absolute;
    left: 0; top:140px;
	animation:sploosh 5s ease-in-out both infinite; 
	-webkit-animation:sploosh 3s ease-in-out both infinite;
	background-image: url(../../img/bolang.png);
}
.show_01{-webkit-animation-delay: -0.8s;  animation-delay: -0.8s; opacity:0.2;}
.show_02{-webkit-animation-delay: -1.6s;  animation-delay: -1.6s; opacity:0.4;}
.show_03{-webkit-animation-delay: -2.4s;  animation-delay: -2.4s; opacity:0.6;}
.show_04{-webkit-animation-delay: -3.2s;  animation-delay: -3.2s; opacity:0.8;}
@-webkit-keyframes sploosh{
    0% {background-position: 0 bottom;}
    50% {background-position: -100px bottom;}
    100% {background-position: -200px bottom;}
  }
  @keyframes sploosh{
    0% {background-position: 0 bottom;}
    50% {background-position: -100px bottom;}
    100% {background-position: -200px bottom;}
  }

/*序列箭头*/
.xulie{font-size:0;}
.xulie a{font-size:16px;color:#000;}
.xulie span{font-size:16px;}
.xulie>img{
	display:inline-block;
	margin-right:15px;
}

.jiantou::after{
	content:url("../../img/jiant.png");
	margin:0 16px;
}